@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #ffffff;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Nav bar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    /* position: sticky;  */
    z-index: 9999; 
    top: 0;  
}
.navbar{
    display: flex;

}
.navbar{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 17px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(146, 241, 162);
    letter-spacing: 2px;
    transition: 00.6s ease;
  
}
.navbar:hover{
    border-bottom: 2px solid #18770c;
    box-shadow: 5px 10px 30px #75a170;
    border-radius: 60px;
    text-size-adjust: 30px;
}

.fruits{
    margin-left: 600px;
    
}

.vegies{
    margin-left: 600px;
    
}

.products{
    margin-left: 800px;
    margin-bottom: -30%;
    
}
.fruit{
    width: 60%;
    height: 60%;   
    margin-left: 1%;
    position:absolute;
    top: 10%;
}

.product{
    width: 50%;
    height: 50%;   
    margin-left: 1%;
    position:absolute;
    top: 15%;
}

.vegetable{
    width: 60%;
    height: 60%;   
    margin-left: 5%;
    position:absolute;
    top: 15%;
}